.content {
  display: none;
}
body {
  margin: 50px;
  background-color: black;
  color: pink;
  text-align: center;
  font-family: monospace;
  font-size: 35px;
}
div {
  border: 3px solid pink;
  border-radius: 8px;
  padding: 30px;
}
button {
  background-color: pink;
  font-family: monospace;
  font-size: 35px;
  border-radius: 8px;
}
input {
  background-color: pink;
  font-family: monospace;
  font-size: 35px;
  border-radius: 8px;
}